services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      -   POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U hh_user -d hh_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    restart: always
    volumes:
      - redis_data:/data

  app:
    build: .
    container_name: hh_api
    restart: always
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      DB_HOST: db
      DB_PORT: 5432
      REDIS_HOST: redis
      APP_HOST: 0.0.0.0

  worker:
    build: .
    container_name: hh_worker
    restart: always
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    env_file:
      - .env
    environment:
      DB_HOST: db
      DB_PORT: 5432
      REDIS_HOST: redis
    # Command to start Celery worker
    command: celery -A hh.config.celery:celery_app worker --loglevel=info

volumes:
  postgres_data:
  redis_data: